/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

body{ font-family: 'Open Sans', sans-serif;
}

/* nav related styles */

.nav-container{ margin-left: 160px;
               min-height: 50px;
               display: flex;
               align-items: center;
               justify-content: space-between;
               background-image: none}

              

.logo-container img{ width: 50px;
                    margin: 8px;
                    object-fit: cover;
}
.nav-items-container{border: 20px;
                   display: flex;
                   justify-content: space-between;
                     
}
.nav-items-container a{ display: flex;
                     font-size: 12px;
                      margin-right: 100px;
                      width: 50%;
                      border: 1px;
                      text-decoration: none;
                      align-items: center;
                      justify-content: space-between;
}
.logo-container{ display: flex;
                align-items: center;
                 border: 45px;
}

.hive-color{   color: rgb(225, 32, 177);
} 
.logo-container p{  font-size: 30px; 
}
.background-btn{ background-color:  rgb(151, 149, 151);
                padding: 4px 8px;
                border-radius: 10px;

}

.banner-container{ border: 1px solid white;
    margin: 50px auto 0;
    max-width: 1400px;
    min-height: 50px;
    margin-top: 5px;
    display: flex;
    text-align: center;
    
}
#play-text{font-size: 35px;
    font-style: normal;
    font-weight: 400;
}
.banner-text{ background:rgba(140, 87, 238, 0.05);
               border: 1px solid white;
               width: 50%;

}
#banner-head{background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     

}
.banner-image{margin-left: 20px;
              margin-right: 20px;
             
}
.banner-details{ color: green;}
.btn-sign  {padding: 4px 8px;
            border-radius: 11px;
            background: #E55473;
             color: #FFF;
   
}
.btn-rogue{ padding: 4px 8px;
            border-radius: 11px;
            background: rgb(112, 170, 215); 
            color: #FFF;

}

.background-container{ background: linear-gradient(90deg,
    rgba(255, 66, 165, 0.03) 0%,
      rgba(255, 66, 165, 0.03) 100%);
      margin-top: 2px;
      display: flex;
      justify-content: center;
}
#gamer-text{background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
            background-clip: text;
           -webkit-background-clip: text;
           -webkit-text-fill-color: transparent;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
}
#detais-text{ background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
              background-clip: text;
             -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
}
.others-text{ text-align: center;

}
.others-image{ display: flex;
              gap: 100px;
              justify-content: center;
              width: 1200px;
              height: 320px;
              border-radius: 8px
}
.others-image2{ justify-content: space-between;
}

.download-items{ display: flex;
                 margin: 160px;
}
.download-text{
           margin: 50px;
           font-style: normal;
           font-weight: 700;
           text-align: justify;

}
#play-color{color: rgb(225, 32, 177);
}

#floating-image{ border-radius: 28px;
               padding: 20px;
               text-align: center;
               position: relative;
               bottom: 170px;
               margin-right: 170px;
}

.button{  padding: 4px 8px;
          border-radius: 11px;
          border: #E55473; 
           color: peachpuff;
}

.footer{ color: aliceblue;
         margin-top: 20px;
         display: flex;
         align-items: center;
         background-color: rgba(0, 0, 0, 0.76);
    
}

.credits-text{  justify-content: center;
                display:inline-block;
                letter-spacing: 4px;
                 list-style: none;
}

.social-links{ margin-top: 30px;
               justify-content: center;
               display: flex;
               letter-spacing: 10px;
}
#color1{ color: #E55473;}
#color2{ color: green;}
#color3{ color: violet}
#color4{ color: blue;}
#color5{ color: greenyellow;}
#color6{ color: brown;
}
.footer{ background: black}

.ending-text{ display: inline-flex;
             padding: 10px;
             align-items: flex-start;
             gap: 60px;
}